section.apartments
  div.apartments__wrapper
    h1.apartments__title Квартиры в новостройках

    div.apartments__list
      article.apartments__item
        a.apartments__link
          img.apartments__image(src="http://placehold.it/405x220" width="405" height="220")
          span.apartments__developer Застройщик: А101 Девелопмент
          div.apartments__description
            h3.apartments__title-item ЖК Испанские кварталы
            span.apartments__city Москва, НАО, Сосенское
            span.apartments__metro м. Саларьево
              span.apartments__time 2 мин пешком
            span.apartments__delivery Сдача в 4 кв. 2017
            table.apartments__table
              tr.apartments__table-row
                td.apartments__table-cell 1-комн.
                td.apartments__table-cell 31 м &sup2;
                td.apartments__table-cell 2,9 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 2-комн.
                td.apartments__table-cell 42 м &sup2;
                td.apartments__table-cell 3,9 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 3-комн.
                td.apartments__table-cell 69 м &sup2;
                td.apartments__table-cell 5,2 млн руб.

      article.apartments__item
        a.apartments__link
          img.apartments__image(src="http://placehold.it/405x220" width="405" height="220")
          span.apartments__developer Застройщик: А101 Девелопмент
          div.apartments__description
            h3.apartments__title-item ЖК Белые ночи
            span.apartments__city Москва, НАО, Сосенское
            span.apartments__metro м. Бунинская Аллея
              span.apartments__time 21 мин пешком
            span.apartments__delivery Сдача в 1 кв. 2019
            table.apartments__table
              tr.apartments__table-row
                td.apartments__table-cell 1-комн.
                td.apartments__table-cell 30 м &sup2;
                td.apartments__table-cell 2,8 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 2-комн.
                td.apartments__table-cell 47 м &sup2;
                td.apartments__table-cell 4 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 3-комн.
                td.apartments__table-cell 79 м &sup2;
                td.apartments__table-cell 6 млн руб.



      article.apartments__item
        a.apartments__link
          img.apartments__image(src="http://placehold.it/405x220" width="405" height="220")
          span.apartments__developer Застройщик: А101 Девелопмент
          div.apartments__description
            h3.apartments__title-item ЖК Скандинавия
            span.apartments__city Москва, НАО, Сосенское
            span.apartments__metro м. Бунинская Аллея
              span.apartments__time 13 мин на автомобиле
            span.apartments__delivery Сдача во 2 кв. 2019
            table.apartments__table
              tr.apartments__table-row
                td.apartments__table-cell 1-комн.
                td.apartments__table-cell 20 м &sup2;
                td.apartments__table-cell 2,3 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 2-комн.
                td.apartments__table-cell 47 м &sup2;
                td.apartments__table-cell 4,4 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 3-комн.
                td.apartments__table-cell 65 м &sup2;
                td.apartments__table-cell 5,8 млн руб.

      article.apartments__item.apartments__item--sales
        ul.apartments__list-sales
          li.apartments__item-sales: a.apartments__link-sales(href="#") 5-7% скидка на квартиры в ЖК «Зелёный бор»
          li.apartments__item-sales: a.apartments__link-sales(href="#") 101 квартира со скидками до 10,1%
          li.apartments__item-sales: a.apartments__link-sales(href="#") ЖК «Скандинавия»: старт продаж подземного паркинга
          li.apartments__item-sales: a.apartments__link-sales(href="#") Старт продаж квартир в доме 21 ЖК «Москва А101»
          li.apartments__item-sales: a.apartments__link-sales(href="#") Продлена рассрочка на покупку квартир в строящихся домах. Особые условия действуют до конца лета.


        a.apartments__phone(href="tel:+74951203426") +7 (495) 120-34-26


      article.apartments__item
        a.apartments__link
          img.apartments__image(src="http://placehold.it/405x220" width="405" height="220")
          span.apartments__developer Застройщик: А101 Девелопмент
          div.apartments__description
            h3.apartments__title-item ЖК Москва А101
            span.apartments__city Москва, НАО, Сосенское
            span.apartments__metro м. Бунинская Аллея
              span.apartments__time 10 мин на автомобиле
            span.apartments__delivery Сдача во 2 кв. 2017
            table.apartments__table
              tr.apartments__table-row
                td.apartments__table-cell 1-комн.
                td.apartments__table-cell 35 м &sup2;
                td.apartments__table-cell 3,5 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 2-комн.
                td.apartments__table-cell 51 м &sup2;
                td.apartments__table-cell 5,2 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 3-комн.
                td.apartments__table-cell 83 м &sup2;
                td.apartments__table-cell 7 млн руб.


      article.apartments__item
        a.apartments__link
          img.apartments__image(src="http://placehold.it/405x220" width="405" height="220")
          span.apartments__developer Застройщик: А101 Девелопмент
          div.apartments__description
            h3.apartments__title-item ЖК Испанские кварталы
            span.apartments__city Москва, ЗелАО, Крюково
            span.apartments__class Класс жилья: комфорт
            span.apartments__delivery Сдан
            table.apartments__table
              tr.apartments__table-row
                td.apartments__table-cell 1-комн.
                td.apartments__table-cell 31 м &sup2;
                td.apartments__table-cell 2,9 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 2-комн.
                td.apartments__table-cell 42 м &sup2;
                td.apartments__table-cell 3,9 млн руб.
              tr.apartments__table-row
                td.apartments__table-cell 3-комн.
                td.apartments__table-cell 69 м &sup2;
                td.apartments__table-cell 5,2 млн руб.
