header.header
  div.header__wrapper
    a.header__logo(href="/")
      img.header__img(src="img/logo.png" alt="Logo A101")
      | Группа компаний «А101»
    nav.header__nav: ul.header__list
      li.header__item: a.header__link(href="/") Квартиры в новостройках
      li.header__item: a.header__link(href="/") Таунхаусы
      li.header__item: a.header__link(href="/") Подобрать по параметрам
      li.header__item: a.header__link(href="/") На карте
      li.header__item: a.header__link(href="/") О компании