section.phone
  div.phone__wrapper
    h2.phone__title Узнайте о всех предложениях по телефону:
    a.phone__number(href="tel:+74951203426") +7 (495) 120-34-26
    a.phone__order(href="phone") Заказать консультацию
