section.special
  div.special__wrapper
    h2.special__title Особые условия в августе 2017 года

    article.special__item.special__item--first
      img.special__image(src="img/special_first.jpg" width="620" height="329" alt="sale")
      div.special__name
        h3.special__name-title.special__name-title--true-info Скидка 9,9%
        span.special__name-info на квартиры с дизайнерской отделкой
      ul.special__info-list
        li.special__info-item * Возможны три варианта отделки — «Барселона», «Валенсия» и «Мадрид»
        li.special__info-item ** Акция действительна для квартир в ЖК «Испанские Кварталы» до 31.08.2017

    article.special__item.special__item--second
      img.special__image(src="img/special_second.jpg" width="620" height="329" alt="hypothec")
      div.special__name
        h3.special__name-title Ипотека 9,75%
      ul.special__info-list
        li.special__info-item  * Ипотеку предоставляет РСХБ, Лицензия - № 3349 от 12.08.2015
        li.special__info-item  ** Акция действительна на ограниченное количество квартир в ЖК «Скандинавия», ЖК «Испанские Кварталы». Действительна до 31.08.2017

