doctype HTML
html(lang='ru')
    head
        title Тестовое задание A101
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        link(href="css/style.css" rel="stylesheet")

    body
        include blocks/header.pug
        include blocks/special.pug
        include blocks/phone.pug
        include blocks/apartments.pug
